*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
}

.container{
  width: 1140px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

/* REUSABLE */
.light-bc{
  background-color: #E4E9F8;
}

.btn{
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 6px;
}

.blue-btn{
  color: white;
  background-color: #2F55D4;
  box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);
}
.blue-btn:hover{
  background-color: #2443AC;
}

.tra-btn{
  color: #2F55D4;
  border: 1px solid #2F55D4;
}

.tra-btn:hover{
  color: white;
  background-color: #2F55D4;
  box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);
}

.land{
  font-weight: bold;
  color: #2F55D4;
}

/* HEADER */
header{
  background-color: #F8F9FC;
}

/* NAV */
header .pre-nav{
  width: 100%;
  position: fixed;
  top: 0;
}

header nav{
  width: 1140px;
  height: 74px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F8F9FC;
}

nav .logo img{
  height: 24px;
}

nav .menu-bar ul li{
  display: inline-block;
  padding: 0 20px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #3c4858;
}

nav .menu-icons{
  display: flex;
  font-size: 16px;
  align-items: center;
}

nav .menu-icons>a{
  color: #8492a6;
}

nav .menu-icons .square i{
  margin-left: 10px;
  padding: 9px;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);
  color: #2f55d4;
}

/* JUMBOTRON */
header .jumbotron{
  height: 760px;
  padding: 184px 0 90px 0;
  display: flex;
  border-bottom: 1px solid lightgrey;
}

header .jumbotron .jumbo-left,
header .jumbotron .jumbo-right{
width: 50%;
height: 100%;
}

/* JUMBO-LEFT */
.jumbo-left{
  display: flex;
  align-items: center;
}

.jumbo-left .mini-title{
  padding: 4px 8px;
  font-size: 12px;
  color: #2f55d4;
  background-color: rgba(47, 85, 212, 0.1);
  border-radius: 20px;
}

.jumbo-left h1{
  width: 75%;
  margin: 8px 0 16px;
  font-size: 42px;
}

.jumbo-left p{
  font-size: 18px;
  margin-bottom: 48px;
  color: #8492a6;
}

.jumbo-left p:last-child{
  margin-top: 16px;
}

/* JUMBO-RIGHT */
.jumbo-right img{
  margin: 0 34px;
}

/* JUMBO-LOW */
header .jumbo-low{
  height: 122px;
  padding: 24px 0;
}

header .jumbo-low .loghetti{
  display: flex;
  justify-content: space-around;
  padding-top: 24px;
}

header .jumbo-low img{
  height: 25px;
}

/* MAIN */
main section{
  margin-top: 100px;
}
main p{
  font-size: 16px;
  color: #8492a6;
}
/* KEY */
main h2{
  font-size: 30px;
  padding-bottom: 24px;
}

main .key>p{
  width: 50%;
  padding-bottom: 24px;
}

/* KEY SQUARE */
.all-square{
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.key .key-square{
  width: 23%;
  margin-top: 24px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 1px 5px 0 rgb(47 85 212 / 30%);
}

.key .key-square>i{
  font-size: 25px;
  padding: 20px;
  border-radius: 6px;
  color: #2F55D4;
  background-color: #EAEEFB;
}

.key .key-square h3{
  padding: 24px 0 8px;
  font-size: 18px;
  color: black;
}

.key .key-square a{
  font-size: 16px;
  color: #2F55D4;
}

.key .key-square a i{
  padding-top: 16px;
  font-size: 13px;
}

/* QUICK */
.quick{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quick h4{
  padding-bottom: 8px;
  color: #2F55D4;
}

.quick p{
  width: 50%;
  padding-bottom: 50px;
}

.black-rettangle{
  width: 736px;
  height: 130px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3C4858;
  border-radius: 6px;
  text-align: left;
}

.inside-rettangle{
  width: 686px;
  height: 40px;
  display: flex;
  background-color: #4F5A69;
  border: 1px solid rgba(248,249,252,0.1);
  border-radius: 6px;
}

.mini-rettangle{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.check{
  align-self: flex-start;
}























































/* a */
