*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
}

.container{
  width: 1140px;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

ul li{
  list-style: none;
}

/* REUSABLE */
.light-bc{
  background-color: #E4E9F8;
}

.btn{
  padding: 8px 20px;
  font-size: 16px;
  border-radius: 6px;
}

.blue-btn{
  color: white;
  background-color: #2F55D4;
  box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);
}
.blue-btn:hover{
  background-color: #2443AC;
}

.tra-btn{
  color: #2F55D4;
  border: 1px solid #2F55D4;
}

.tra-btn:hover{
  color: white;
  background-color: #2F55D4;
  box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);
}

.dark-btn{
  padding: 12px 0;
  text-align: center;
  color: #2F55D4;
  border-radius: 10px;
  border: 1px solid rgba(47, 85, 212, 0.1);
  box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);
}

.dark-btn a{
  color: #2F55D4;
}

.dark-btn:hover{
  color: white;
  cursor: pointer;
  background-color: #2F55D4;
  box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);
}

.dark-btn:hover a{
  color: white;
}

.land{
  font-weight: bold;
  color: #2F55D4;
}

.active{
  background-color: #3C4858;
  border-radius: 6px;
}

.green{
  color: #2eca8b;
}

.red{
  color: red;
}

/* HEADER */
header{
  background-color: #F8F9FC;
}

/* NAV */
header .pre-nav{
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #F8F9FC;
}

header nav{
  width: 1140px;
  height: 74px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo img{
  height: 24px;
}

nav .menu-bar ul li{
  display: inline-block;
  padding: 0 20px;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}

nav .menu-bar ul li a{
  padding-right: 5px;
  color: #3c4858;
}

nav .menu-icons{
  display: flex;
  font-size: 16px;
  align-items: center;
}

nav .menu-icons>a{
  color: #8492a6;
}

nav .menu-icons .square i{
  margin-left: 10px;
  padding: 9px;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);
  color: #2f55d4;
}

/* JUMBOTRON */
header .jumbotron{
  height: 760px;
  padding: 184px 0 90px 0;
  display: flex;
  border-bottom: 1px solid lightgrey;
}

header .jumbotron .jumbo-left,
header .jumbotron .jumbo-right{
width: 50%;
height: 100%;
}

/* JUMBO-LEFT */
.jumbo-left{
  display: flex;
  align-items: center;
}

.jumbo-left .mini-title{
  padding: 4px 8px;
  font-size: 12px;
  color: #2f55d4;
  background-color: rgba(47, 85, 212, 0.1);
  border-radius: 20px;
}

.jumbo-left h1{
  width: 75%;
  margin: 8px 0 16px;
  font-size: 42px;
}

.jumbo-left p{
  font-size: 18px;
  margin-bottom: 48px;
  color: #8492a6;
}

.jumbo-left p:last-child{
  margin-top: 16px;
}

/* JUMBO-RIGHT */
.jumbo-right img{
  margin: 0 34px;
}

/* JUMBO-LOW */
header .jumbo-low{
  height: 122px;
  padding: 24px 0;
}

header .jumbo-low .loghetti{
  display: flex;
  justify-content: space-around;
  padding-top: 24px;
}

header .jumbo-low img{
  height: 25px;
}

/* MAIN */
main section{
  margin-top: 100px;
}
main p{
  font-size: 16px;
  color: #8492a6;
}
/* KEY */
main h2{
  font-size: 30px;
  padding-bottom: 24px;
}

main .key>p{
  width: 50%;
  padding-bottom: 24px;
}

/* KEY SQUARE */
.all-square{
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.key .key-square{
  width: 23%;
  margin-top: 24px;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 1px 5px 0 rgb(47 85 212 / 30%);
  transition: 0.5s;
}

.key .key-square:hover{
 transform: translate(0, -10px);
}

.key .key-square>i{
  font-size: 25px;
  padding: 20px;
  border-radius: 6px;
  color: #2F55D4;
  background-color: #EAEEFB;
}

.key .key-square h3{
  padding: 24px 0 8px;
  font-size: 18px;
  color: black;
}

.key .key-square a{
  font-size: 16px;
  color: #2F55D4;
}

.key .key-square a i{
  padding-top: 16px;
  font-size: 13px;
}

/* QUICK */
.quick{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.quick h4{
  padding-bottom: 8px;
  color: #2F55D4;
}

.quick p{
  width: 50%;
  padding-bottom: 50px;
}
.interactive{
  display: flex;
  flex-direction: column;
}

.black-rettangle{
  width: 736px;
  height: 130px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #3C4858;
  border-radius: 6px;
  text-align: left;
}

.black-rettangle>span{
  font-size: 16px;
  font-weight: bold;
  color: #8492a6;
}

.inside-rettangle{
  width: 686px;
  height: 40px;
  display: flex;
  background-color: #4F5A69;
  border: 1px solid rgba(248,249,252,0.1);
  border-radius: 6px;
}

.mini-rettangle{
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.mini-rettangle:hover{
cursor: pointer;
}

.check{
  padding-top: 24px;
  align-self: flex-start;
}

.check span{
  padding-right: 25px;
  color: #8492a6;
}

.check i{
  padding-right: 10px;
  color: #2eca8b;
}

/* BUILD */
.build{
  width: 100%;
  height: 437px;
  display: flex;
}

.build-left,
.build-right{
width: 50%;
height: 100%;
}

.build-left,
.build-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* BUILD-LEFT */
.build>p,
.build .tools{
  padding: 24px 0;
}

.build h2{
  width: 60%;
}

.build .tools p{
  padding: 5px 0;
}

.build i{
  color: #2F55D4;
}

/* BUILD-RIGHT */
.build img{
  width: 451px;
  height: 437px;
  align-self: flex-end;
}

/* RATES */
.rates>h2,
.rates>p{
  margin: 0 auto;
  text-align: center;
}

.rates>p{
  width: 50%;
}

/* PRICE-SQUARE */
.price-squares{
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.price-single{
  width: 31%;
  padding: 24px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 5px 0 rgb(47 85 212 / 30%);
  border-radius: 10px;
}

.price-single .price-title span{
  padding: 8px 24px;
  color: #2F55D4;
  background-color: #EAEEFB;
  border-radius: 30px;
}

.price-single h2{
  margin-top: 16px;
  font-size: 36px;
  padding-bottom: 5px;
}

.price-single p{
  padding-bottom: 16px;
}

.price-single p:last-child{
  padding: 16px 0 0;
}

.price-single ul{
  padding: 16px 0;
  border-top: 1px solid lightgrey;
}

.price-single ul{
  padding: 16px 0;
  border-top: 1px solid lightgrey;
}

.price-single li{
  padding-bottom: 10px;
  color: #8492a6;
}

.price-single i{
  padding-right: 10px;
  color: #2F55D4;
}

.price-single a{
  text-align: center;
}

/* WANT */
.want{
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.want p{
  width: 60%;
}

/* MAIL */
.mail{
  margin-top: 30px;
  position: relative;
  right: -64px;
}

.mail input{
  width: 700px;
  padding: 11px 20px;
  border-radius: 50px;
  outline: 0;
  border: 1px solid lightgrey
}

.mail a{
  position: relative;
  left: -128px;
  border-radius: 50px;
}

/* FOOTER */
footer{
  background-color: #202942;
  color: #adb5bd;
}
/* FOOTER-UP */

.footer-up{
  padding: 60px 0;
  display: flex;
}

.footer-up h3{
  padding-bottom: 24px;
  color: white;
}

.footer-up li{
  padding-bottom: 10px;
}

.footer-up li a{
  color: #adb5bd;
}

.footer-up li i{
  font-size: 13px;
  padding-right: 10px;
}

.landrick{
  width: 380px;
  padding: 0 12px;
}

.landrick img{
  width: 135px;
  padding-bottom: 24px;
}

.landrick p{
  padding-bottom: 24px;
}

.landrick i{
  font-size: 30px;
  padding-right: 3px;
}

.landrick i:hover{
  cursor: pointer;
  color: #2F55D4;
}

.company{
  width: 190px;
}

.links{
  width: 285px
}

.newsletter{
  width: 285px;
}

.newsletter p{
padding-bottom: 10px;
}

.newsletter input{
width: 100%;
padding: 10px;
margin-bottom: 10px;
border-radius: 10px;
outline: 0;
border: 0;
font-size: 15px;
background-color: #27314f;
}

/* FOOTER-DOWN */
.footer-down{
  border-top: 1px solid #adb5bd;
}

.footer-down .container{
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.footer-down .credits,
.footer-down .cards{
  display: flex;
}

.footer-down .cards img{
  width: 40px;
  padding-left: 5px;
}

/* ARROW */
.arrow{
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.arrow i{
  padding: 15px;
  color: white;
  background-color: #2F55D4;
  border-radius: 10px;
}

.arrow:hover i{
 background-color: #2443AC;
}
























































/* a */
