<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Landrick</title>
</head>
<body>
  <div id="app">

  <!-- HEADER -->
  <header>
    <!-- NAVBAR -->
    <div class="pre-nav">
      <nav>
        <div class="logo">
          <a href="#"></a>
          <img src="img/logo-dark.png" alt="Logo">
        </div>
        <div class="menu-bar">
          <ul>
            <li>home</li>
            <li>landing <i class="fas fa-chevron-down"></i></li>
            <li>pages <i class="fas fa-chevron-down"></i></li>
            <li>docs <i class="fas fa-chevron-down"></i></li>
          </ul>
        </div>
        <div class="menu-icons">
          <a href="#"><i class="fas fa-search"></i></a>
          <div class="square">
          <a href="#"><i class="fab fa-github light-bc"></i></a>
          <a href="#"><i class="fab fa-stack-overflow light-bc"></i></a>
          <a href="#"><i class="far fa-user light-bc"></i></a>
          </div>
        </div>
      </nav>
    </div>
    <!-- JUMBOTRON -->
    <div class="container">
      <div class="jumbotron">
        <!-- LEFT SIDE -->
        <div class="jumbo-left">
          <div class="jumbo-left-container">
            <span class="mini-title">Development</span>
            <h1>A Complete Developer Toolset</h1>
            <p>Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap v5 html page.</p>
            <a href="#" class="btn blue-btn">Get Started</a>
            <a href="#" class="btn tra-btn">Documentation</a>
            <p>Current Version: v3.0.0.0</p>
          </div>
        </div>
        <!-- RIGHT SIDE -->
        <div class="jumbo-right">
          <img src="img/about.png" alt="about">
        </div>
      </div>
      <!-- LOW SIDE -->
      <div class="jumbo-low">
        <div class="loghetti">
          <div class="logetto" v-for="logo in loghi">
            <img :src="'img/' + logo + '.svg'" alt="">
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- MAIN -->
  <main>
    <div class="container">
      <!-- KEY -->
      <section class="key">
        <h2>Key Features</h2>
        <p>Start working with <span class="land">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
        <div class="all-square">
          <div class="key-square">
            <i class="far fa-window-restore"></i>
            <a href="#"><h3>Modular</h3></a>
            <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
            <a href="#">Read More <i class="fas fa-chevron-right"></i></a>
          </div>
          <div class="key-square">
            <i class="fas fa-laptop-code"></i>
            <a href="#"><h3>Responsive</h3></a>
            <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
            <a href="#">Read More <i class="fas fa-chevron-right"></i></a>
          </div>
          <div class="key-square">
            <i class="fas fa-vector-square"></i>
            <a href="#"><h3>Customizable</h3></a>
            <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
            <a href="#">Read More <i class="fas fa-chevron-right"></i></a>
          </div>
          <div class="key-square">
            <i class="fas fa-expand-arrows-alt"></i>
            <a href="#"><h3>Scalable</h3></a>
            <p>Composed in a pseudo-Latin language which more or less corresponds.</p>
            <a href="#">Read More <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </section>

      <!-- QUICK -->
      <section class="quick">
        <h4>Quickstart</h4>
        <h2>Awesome isn't it? Let's dive in!</h2>
        <p>Start working with <span class="land">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
        <!-- BLACK-RETTANGLE -->
        <div class="interactive">
          <div class="black-rettangle">
            <div class="inside-rettangle">
              <div class="mini-rettangle">npm</div>
              <div class="mini-rettangle">nuget</div>
              <div class="mini-rettangle">spm</div>
              <div class="mini-rettangle">github</div>
            </div>
          <span>placeholder</span>
          </div>
          <div class="check">
            <span><i class="far fa-check-circle"></i>Organize your data</span>
            <span><i class="far fa-check-circle"></i>Work with any team</span>
          </div>
        </div>
      </section>

      <!-- BUID -->
      <section class="build">
        <div class="build-left">
          <div>
            <h2>Build tools and extensive documention</h2>
            <p>You can combine all the Landrick templates into a single one, you can take a component from the Application theme and use it in the Website.</p>
            <div class="tools">
              <p v-for="tool in tools"><i class="far fa-check-circle"></i>{{tool}}</p>
            </div>
            <div>
              <a href="#" class="btn blue-btn">Read More &rarr;</a>
            </div>
          </div>
        </div>
        <div class="build-right">
          <img src="img/1.png" alt="Grafici">
        </div>

      </section>

      <!-- RATES -->
      <section class="rates">
        <h2>Our rates for developer from landrick team</h2>
        <p>Start working with <span class="land">Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
        <div class="price-squares">
          <div class="price-single">
            <div class="price-title">
              <span>Basic</span>
            </div>
            <h2>&#36; 9.00</h2>
            <p>Per Month</p>
            <p>All the basics for businesses that are just getting started.</p>
            <ul>
              <li v-for="rate in rates"><i class="far fa-check-circle"></i>{{rate}}</li>
            </ul>
            <a href="#" class="btn blue-btn">Buy Now</a>
            <p>*No credit card required</p>
          </div>
          <div class="price-single">
            <div class="price-title">
              <span>Businesses</span>
            </div>
            <h2>&#36; 39.00</h2>
            <p>Per Month</p>
            <p>All the basics for businesses that are just getting started.</p>
            <ul>
              <li v-for="rate in rates"><i class="far fa-check-circle"></i>{{rate}}</li>
            </ul>
            <a href="#" class="btn blue-btn">Buy Now</a>
            <p>*No credit card required</p>
          </div>
          <div class="price-single">
            <div class="price-title">
              <span>Enterprise</span>
            </div>
            <h2>&#36; 79.00</h2>
            <p>Per Month</p>
            <p>All the basics for businesses that are just getting started.</p>
            <ul>
              <li v-for="rate in rates"><i class="far fa-check-circle"></i>{{rate}}</li>
            </ul>
            <a href="#" class="btn blue-btn">Buy Now</a>
            <p>*No credit card required</p>
          </div>

        </div>
      </section>

      <!-- WANT -->
      <section class="want">
        <h2>Want to be among the first to find out?</h2>
        <p>Start working with <span class="land"> Landrick</span> that can provide everything you need to generate awareness, drive traffic, connect.</p>
        <div class="mail">
          <input type="email" placeholder="Email Address">
          <a href="#" class="btn blue-btn">Get Started</a>
        </div>
      </section>
  </main>

  <!-- FOOTER -->
  <footer>
    <div class="container">
      <!-- FOOTER-UP -->
      <div class="footer-up">
        <!-- LANDRICK -->
        <div class="landrick">
          <img src="img/logo-light.png" alt="Logo">
          <p>Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect.</p>
          <i class="fab fa-facebook-square"></i>
          <i class="fab fa-twitter-square"></i>
          <i class="fab fa-linkedin"></i>
        </div>
        <!-- COMPANY -->
        <div class="company">
          <h3>Company</h3>
          <ul>
            <li v-for="link in company"><i class="fas fa-chevron-right"></i>{{link}}</li>
          </ul>
        </div>
        <!-- LINKS -->
        <div class="links">
          <h3>Usefull Links</h3>
          <ul>
            <li v-for="link in links"><i class="fas fa-chevron-right"></i>{{link}}</li>  
          </ul>
        </div>
        <!-- NEWSLETTER -->
        <div class="newsletter">
          <h3>Newsletter</h3>
        </div>
      </div>
      <!-- FOOTERDOWN -->
      <div class="footer-down">
      </div>
    </div>
  </footer>


<!-- APP -->
</div>



  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
